.sidebar-container{
    width: 200px;
    height: 100%;
    // height: 100vh;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s ease;

    &__logo{
        width: 100%;
        display: flex;
        justify-content: space-around;
        color: white;
        padding: 10px;
        height: 65px;
        background-color: #00599c;
        align-items: center;

        &--image{
            img{
                display: inline-block;
                object-fit: contain;
            }
        }

        &--menu{
            svg{
                display: inline-block;
                height: 22px !important;
                width: 22px !important;
                cursor: pointer;
            }
        }
    }

    &__item{
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 50px;
        padding: 10px;
        cursor: pointer;

        svg{
            display: inline-block !important;
            height: 22px !important;
            width: 22px !important;
        }

        p{
            margin: 10px 0;
        }

        &:hover{
            background-color: #000;
        }
    }

    &__item-selected{
        background-color: #000;
    }
}

.sidebar-responsive{
    width: 80px !important;
}

.sales-data-report__timezones--time {
    margin-top:20px ;
    border-color: #fff !important;
    color: #fff;
}

.fllowup-data-report__timezones--time {
    margin-top:20px ;
    border-color: #72ad32 !important;
    background-color: #72ad32;
    color: #fff;
}

td.ant-table-cell.noselect svg {
    color: #00599c;
}